.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  width: 380px;

  background-color: #334247;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.09);

  padding: 33px 0 40px 0;

  overflow: hidden;

  &__popular {
    position: absolute;

    top: 30px;
    left: 263px;

    height: 25px;
    width: 147px;

    font-size: 14px;
    font-weight: 700;
    line-height: 25px;

    text-align: center;
    
    background-color: #dc3f45;

    transform: rotate(45deg);
  }
  
  &__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
  }

  &__subtitle {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    margin-bottom: 33px;
  }

  &__price {
    height: 105px;
    width: 100%;

    font-weight: bold;
    font-size: 55px;
    line-height: 67px;
    text-align: center;

    line-height: 105px;

    &_basic {
      background-color: #5bb189;
    }

    &_business {
      background-color: #3a6ba5;
    }

    &_webshop {
      background-color: #ec632a;;
    }
  }

  &__description {
    height: 116px;

    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-align: center;

    padding: 40px 26px;
  }

  &__prefers {
    width: 100%;

    margin-bottom: 39px;
  }

  &__prefer {
    &:nth-child(odd) {
      background-color: #2e3b3f;
    }
  }
   
  &__basic {
    @include list-item;
    @include list-style($url-basic);
  }

  &__business {
    @include list-item;
    @include list-style($url-business);
  }

  &__webshop {
    @include list-item;
    @include list-style($url-webshop);
  }
 

 
  &__order {
    width: 154px;

    border: none;
    outline: none;

    font-size: 14px;
    line-height: 40px;
    color: #ffffff;

    text-align: center;
      
    border-radius: 20px;

      &_basic {
        background-color: #5bb189;
      }
  
      &_business {
        background-color: #3a6ba5;
      }
  
      &_webshop {
        background-color: #ec632a;;
      }
  }
}